html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #000 url("../images/bg_350.jpg");
  min-height: 600px;
  height: 100%;
}

#content {
  position: absolute;
  top: 50%;
  left: 55%;
  width: 800px;
  height: 600px;
  margin: -300px 0 0 -400px;
}

#board {
  float: left;
  width: 600px;
  height: 600px;
  background: url("../images/board.jpg");
  box-shadow: 1px 1px 10px #000;
}

.shadow {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("../images/shadow.png");
  background-size: 100% 100%;
}

.field {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: none;
  opacity: 1;
}

.field-focused {
  background-color: white;
  opacity: 0.4;
}

.pawn {
  width: 50px;
  height: 50px;
  background: url("../images/pawns.png") no-repeat;
  -webkit-transition: top 0.1s linear, left 0.1s linear;
}

.unactive {
  opacity: 0.2;
}

.ghost {
  filter: grayscale(0.5);
  opacity: 0.7;
}

.pawn-3 {
  background-position: 0 -50px;
}

.pawn-4 {
  background-position: 0 -100px;
}

.pawn-5 {
  background-position: 0 -150px;
}

.dice-wrap {
  position: absolute;
  top: 485px;
  left: 635px;
  width: 90px;
  height: 90px;
  background-image: url("../images/dice.png");
  background-position: 0 -75px;
  -webkit-transition: top 0.1s linear, left 0.1s linear;
}

.dice-wrap.focused {
  -webkit-animation: focusdice 0.5s steps(1) infinite alternate;
}

.dice {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 60px;
  height: 60px;
  background-image: url("../images/dice.png");
  cursor: pointer;
}

.dice-2 {
  background-position: -60px 0;
}

.dice-3 {
  background-position: -120px 0;
}

.dice-4 {
  background-position: -180px 0;
}

.dice-5 {
  background-position: -240px 0;
}

.dice-6 {
  background-position: -300px 0;
}

.throw {
  opacity: 0.3;
}

.dice-hint {
  position: absolute;
  top: -70px;
  left: 45px;
  width: 120px;
  height: 80px;
  background: url("../images/sprites.png") -240px -160px no-repeat;
}

.popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  right: 10px;
  bottom: 250px;
  width: 180px;
  height: 270px;
  border: 2px white solid;
  z-index: 999;
}

.popup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000 url("../images/bg_350.jpg");
  filter: brightness(0.7);
  z-index: -1;
}

.popup-hide {
  display: none;
}

.close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  padding: 0;
  color: black;
  background-color: bisque;
  border: none;
  border-radius: 4px;

  z-index: 999999;
}

.bar {
  width: 100%;
  padding: 0;
  margin: 5px;
  height: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.bar p {
  margin: 0;
  padding: 5px 8px;
  font-size: 14px;
}

.bar p:nth-child(2n) {
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

.delta-negative p {
  font-weight: bold;
  color: lawngreen !important;
}

.delta-positive p {
  font-weight: bold;
  color: red !important;
}

#manual {
  position: absolute;
  top: 100px;
  left: 40px;

  width: 20vw;
  height: 80vh;

  display: flex;
  flex-direction: column;
}

#manual p,
#manual h1 {
  color: white;
}

#manual p {
  font-size: 16px;
}

#manual h1 {
  font-size: 20px;
  font-weight: bold;
}
